

<div class="container">

<button class="btn btn-primary"> <details>
    <summary>Start</summary>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
              <button  class="button btn btn-default" (click)="func(1); change('b1',1);startTimer();"  id ="b1"></button>
            </div>
            <div class="col-lg-4">
                <button (click)="func(2); change('b2',2);startTimer();" class="button  btn btn-default" id="b2"></button>
            </div>
        </div>
       <div class="row">
            <div class="col-lg-4">
                <button (click)="func(3); change('b3',3);startTimer();" class="button  btn btn-default" id="b3"></button>
            </div>
            <div class="col-lg-4">
                <button (click)="func(4); change('b4',4);startTimer();" class="button  btn btn-default" id="b4"></button>
            </div>
      </div> 
      
    </div>
  
      <h2>Score: {{count}}</h2>
    
</details></button>

    <div class="col-12 modalbutton">
				<div class="signupbtn">
					<a href="#signup" role="button" class="btn btn-success" data-toggle="modal" >
					<span class="glyphicon"></span> 
					Send Score
					</a>
						

<div class="modal fade" role="dialog" id="signup">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> Enter your details:</h4>

        </div>
        <div class="modal-body">
            
            <form class="horizontal-form">
            <label>First Name:</label>
                <input type="text" name="name"><br>
              <label>Last Name:</label>
                <input type="text" name="email"><br> 
                  <label>E-mail:</label>
                    <input type="text" name="phoneno"><br> 
              <label> Score:</label>
            <input type="text" name="date"><br>	
            </form>

          </div>
            <div class="modal-footer">
            <button id="signupbutton">Send</button>
            <div class="alert alert-success alert-block fade in" id="signedUp">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
  
            <h4>Congratulations!</h4>
            <p>Your score has been sent! </p>
          </div>

              
        </div>
      </div>
    </div>
  </div>

</div>
</div>


      <!-- <script>
         function myFunction(){
          setInterval(function(){alert("Game Over");}, 2000);
          }
        </script> -->
  